---
title: false
styles: true
---

<!--
    Add a line saying "@import "alembic";" if everything breaks by removing it.
    Tweak below code to make image resize based on device 'til it works.    
-->
img {
    max-width:100%;
    height:auto;
}
