---
title: false
styles: true
---

@import "alembic";

#Will eventually need to use a larger image and tweak below code to make image resize based on device.

img {
    max-width:100%;
    height:auto;
}
